<div class="content-tab" id="content-tab">
	<% (1..30).each do %>
		<div class="card tab-item">
			<!--<img class="card-img-top" src="/assets/PlaceholderImage.png" alt="Card image cap">-->
			<div class="card-img-top">
				<div class="card-img-container">
					<%= link_to image_tag("PlaceholderImage.png"), :class => "card-img"%>
				</div>
			</div>
			<div class="card-block">
				<h4 class="card-title">Movie Name / Music Name</h4>
				<p class="card-text">This is a preview to the rating.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
	<% end %>


</div>
