<% comments.each do |comment| %>
    <div class="media">
        <div class="media-body">
            <h4> <%= link_to comment.post.name, post_path(comment.post.id)%> </h4>
            <div class="well">
                <p> <%= comment.description %> </p>
                <small> <%= "#{comment.submit_time_diff}" %> </small>
            </div>
        </div>
    </div>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate comments %>
</div>
