<div class="btn-group">
  <%= link_to "Posts", myprofile_index_path(location: "posts"), class:"btn btn-primary"%>
  <%= link_to "Comments", myprofile_index_path(location: "comments"), class:"btn btn-primary"%>
</div>

<%= render location, posts: posts, comments: comments %>
