<h1 class="page-header"><%=user.username%></h1>

<div class="btn-group">
  <%= link_to "Posts", myprofile_path(id: user, location: "posts"), class:"btn btn-primary"%>
  <%= link_to "Comments", myprofile_path(id: user, location: "comments"), class:"btn btn-primary"%>
</div>

<%= render location, posts: posts, comments: comments, tags: tags, user: user %>
