<!DOCTYPE html>
<htmL>
  <head>
  <title>About</title>

  </head>
</div>
  </div>
<!-- Wallpaper -->
<div class="jumbotron wallpaper col-sm-12"> 
<!-- Anjani -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Anjani Mallampati</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
<!-- Brandon -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Brandon Abajelo</h2></div>
      <div class="col-sm-7 text-center"><small>Product Manager
<p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail"></a> </p></small></div>
   </div>
<!-- JJ -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Jiajun Wu</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
   <!-- Kevin -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Kevin Tom</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
   <!-- Luis Arevalo -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Luis Arevalo</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
   <!-- Mohsen Hosseini -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Mohsen Hosseini</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
<!-- Nathan -->
   <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://pogbvw-dm2306.files.1drv.com/y3mQ6kMM9MUA-hXcoSlG-Ih3WKH-2O8oUTifRb-ji7jumvb1f1ySvchWPX9wuu0Rx2JAchmSKEGDsXgYF_uctB6fVRqrc4gpA44h_uysrz-Z0cqC7J-gKgAo9Igura0mvnlMfXiWYbk6tLfTNUbIw57yJUT6WWH71I7jRgQ2x7TRQ4?width=2408&height=2408&cropmode=none" class="img-circle img-responsive ">
      </a>
    </div>
      <div class="col-sm-7 text-center"><h2>Nathan Foster</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
    <p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
    </div>
       <!-- Nithya Rajan -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Nithya Rajan</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
      <!-- Ryan -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Ryan</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
      <!-- Shridhar Suryanarayan -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Shridhar Suryanarayan</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
   </div>
</htmL>
