<!DOCTYPE html>
<htmL>
  <head>
  <title>About</title>

  </head>
</div>
  </div>
<!-- Wallpaper -->
<div class="jumbotron wallpaper col-sm-12"> 
<!-- Anjani -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Anjani Mallampati</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
<!-- Brandon -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Brandon Abajelo</h2></div>
      <div class="col-sm-7 text-center"><small>Product Manager
<p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail"></a> </p></small></div>
   </div>
<!-- JJ -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Jiajun Wu</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
   <!-- Kevin -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Kevin Tom</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
   <!-- Luis -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Luis Arevala</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
   <!-- Mohsen Hosseini -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Mohsen Hosseini</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
<!-- Nathan -->
   <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://03nqww.dm2301.livefilestore.com/y3micFYCaHKWddmDOJj_tDGEKV-drLKArgyjSN3VhDXCWDdLn6bSTEs2wxdaToU0TkOhpbPHIjslqLiMi4WzLVMT-PUH0WxhFjth6Bxc6YateKQB8QK71Y5t3OmZSJ_E7MUiO7ak-D7Uh_iJQ2oC7By3ZkGP9pxKdmRMUjE1DB_EA8?max-width=2760&max-height=2760&cropmode=none" class="img-circle img-responsive ">
      </a>
    </div>
      <div class="col-sm-7 text-center"><h2>Nathan Foster</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
    <p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
    </div>
       <!-- Nithya Rajan -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Nithya Rajan</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
      <!-- Ryan -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Ryan</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
      <!-- Shridhar Suryanarayan -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?max-width=400&max-height=400&cropmode=none" class="img-circle img-responsive ">
      </a>
      </div>
      <div class="col-sm-7 text-center"><h2>Mohsen Hosseini</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
   </div>
   </div>
</htmL>
