<!DOCTYPE html>
<htmL>
  <head>
  <title>About</title>

  </head>

  <hr>
</div>
  </div>
<!-- Wallpaper -->
<div class="wallpaper col-md-12"> 
<!-- Brandon -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://pbs.twimg.com/profile_images/656999128908582912/dXlA4TBD.jpg" class="img-circle ">
      </a>
      </div>
      <div class="col-sm-7 text-center">Brandon Abajelo</div>
      <div class="col-sm-7 text-center"><small>Product Manager
<p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" style="width: 15%; height: 15%"></a> </p></small></div>
   </div>
<!-- JJ -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://13n5ew.dm2301.livefilestore.com/y3mw7CA6JM20_h7coocP8pFHz8EGLhdjFa9-kFupoKJYcoVTrw9lGfZjSjlxetUaLjwIVFrJYRz3X_VWrn7po4g21FehWIqBUG051JylRJmmIJJIAXgtARrtF_SzjQ4xuUVOFKJiuSdrjggPatlOBG_u5l29nSks3rC3QYSKt4H9LA?width=400&height=400&cropmode=none" class="img-circle ">
      </a>
      </div>
      <div class="col-sm-7 text-center">Jiajun Wu</div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
<p><a href="https://www.linkedin.com/in/jiajun-wu-1009" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" style="width: 15%; height: 15%"></a> </p></small></div>
   </div>
<!-- Nathan -->
   <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://03nqww.dm2301.livefilestore.com/y3micFYCaHKWddmDOJj_tDGEKV-drLKArgyjSN3VhDXCWDdLn6bSTEs2wxdaToU0TkOhpbPHIjslqLiMi4WzLVMT-PUH0WxhFjth6Bxc6YateKQB8QK71Y5t3OmZSJ_E7MUiO7ak-D7Uh_iJQ2oC7By3ZkGP9pxKdmRMUjE1DB_EA8?width=2760&height=2760&cropmode=none" class="img-circle ">
      </a>
    </div>
      <div class="col-sm-7 text-center">Nathan Foster</div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
    <p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" style="width: 15%; height: 15%"></a> </p></small></div>
    </div>
   </div>
</htmL>
