<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1"><meta name="viewport" content="width=device-width, initial-scale=1">
</head>

	<body class="home-background jumbotron">
		<div class= "col-sm-12">
			
		</div>
	</body>
	
</html>
