@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Slab');

/* Color Declarations */
$black: #000000;
$white: #FFFFFF;
$white-smoke: #F5F5F5;
$smoke: #A2A2A2;
$yellow: #f1c40f;
$gray: #7f8c8d;
$primary: #65BFE5;
$secondary: #2c3e50;
$midnight: #12131f;

$graphite: #252525;

$bright-red: #e74c3c;
$dark-blue: #34495e;
$emerald: #2ecc71;
$sky: #3498db;
$orange: #fba94d;
$purple: #9b59b6;


/* Declaring Variables */
$background: url("../public/wallpapers/wallpaper-5.jpg");
$transparent: transparent;

/* Font Properties */
$byte: 'Press Start 2P', cursive;
$font: 'Roboto Slap', sans-serif;
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

/* Navbar Properties */
$navbar-height: 50px;

/* Sidebar Properties */
$sidebar-width: 160px;

$sidebar-tab-height: 100px;
$sidebar-tab-width: auto;
$sidebar-tab-padding: 15px;


/* Tab Item Properties */
$tab-item-width: 200px;
$tab-item-height: 300px;
$tab-item-margin: 3px;

$card-img-height: 110px;
$card-block-height: $tab-item-height - $card-img-height


