@import '_variables';


p{
  color: $primary !important;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a, ol, ul, td {
  color: inherit !important;
  text-decoration: none !important;
    &hover{
    text-decoration: none !important;
    background-color: transparent !important;
  }
}

a:hover img {
  border: 0;
  background-color: transparent !important;
}
th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;


  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/*
label{
  display: block;
  color: $yellow !important;
}
*/
.black{
  color: black !important;
}

.yellow{
  color: $yellow !important;
}