@import "_variables";

/*
body{
    background-color: $white !important;
    padding-top: 45px !important;
}
*/

.card-text > a, ol, ul, td {
  color: inherit !important;
  text-decoration: none !important;

    &:hover{
    text-decoration: none !important;
    background-color: transparent !important;
  }
}

.dashboard {
  width: 100%;
  text-align: center;
}

.dashboard-tabs {
    white-space: nowrap;
    height: 5rem;
    width: auto;/*calc(100% - #{$sidebar-width});*/
    display: -webkit-box;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 5px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid;
    border-bottom-color: $smoke;
}

.dashboard-tabs > .active {
    color: white;
}

.dashboard-tabs > .active > a {
    background-color: $sky !important;
}

.dashboard-tabs > .nav-item > a:focus {
    outline: none;
}

.content-tab {
  overflow: hidden;
  margin: 0 auto;
}

.tab-item {
  width: $tab-item-width;
  height: $tab-item-height;
  margin: $tab-item-margin;
  display: table;
  float: left;
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.tab-item:hover .overlay {
  //opacity: 0.65;
  color: rgba(0, 0, 0, .3);
  height: 100%;
}

.text {
  white-space: wrap; 
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  position: absolute;
  overflow-y: hidden;
  top: 2em;
  left: 0;
  padding: 15px;
  text-align: center;
  //transform: translate(-50%, -50%);
  //-ms-transform: translate(-50%, -50%);
}

 /* On smaller screens, where width is less than 767px, hide sidebar */
@media screen and (max-width: 767px) {
    /*hide sidebar on mobile devices*/
    .content-tab, .dashboard-tabs{
    margin-left: -$tab-item-width;
  }

/*    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}*/
}

@media only screen and (max-width: $sidebar-width + $cushion + 2*$content-width) {
  .content-tab {
    width: $content-width;
  }
}

@media only screen and
  (min-width: ($sidebar-width + $cushion + 2*$content-width + 1px)) and
  (max-width: $sidebar-width + $cushion +  3*$content-width) {
  .content-tab {
    width: 2*$content-width;
  }
}

@media only screen and
  (min-width: ($sidebar-width + $cushion + 3*$content-width + 1px)) and
  (max-width: $sidebar-width + $cushion +  4*$content-width) {
  .content-tab {
    width: 3*$content-width;
  }
}

@media only screen and
  (min-width: ($sidebar-width + $cushion + 4*$content-width + 1px)) and
  (max-width: $sidebar-width + $cushion +  5*$content-width) {
  .content-tab {
    width: 4*$content-width;
  }
}

@media only screen and
  (min-width: ($sidebar-width + $cushion + 5*$content-width + 1px)) and
  (max-width: $sidebar-width + $cushion +  6*$content-width) {
  .content-tab {
    width: 5*$content-width;
  }
}

@media only screen and
  (min-width: ($sidebar-width + $cushion + 6*$content-width + 1px)) and
  (max-width: $sidebar-width + $cushion +  7*$content-width) {
  .content-tab {
    width: 6*$content-width;
  }
}

@media only screen and
  (min-width: ($sidebar-width + $cushion + 7*$content-width + 1px)) and
  (max-width: $sidebar-width + $cushion +  8*$content-width) {
  .content-tab {
    width: 7*$content-width;
  }
}

@media only screen and (min-width: $sidebar-width + $cushion + 8*$content-width + 1px) {
  .content-tab {
    width: 8*$content-width;
  }
}
