@import '_variables';


body{
background-color: $white !important;
padding-top: 45px !important;
}

.home-background{
  background-image: url("http://www.listing99.com/howitworks/images/background_1.jpg");
  background-repeat: repeat;
}

#footer {
  bottom: 0px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

/* Byte text */
#span-brand {
  color: $white-smoke;
  font-family: $font;
  font-weight: normal;

}

h1{
  margin-top: .5em;
  font-size: 36px;
  color: $white-smoke;
  font-family: $font;
}

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    color: $primary !important;
  }
h3{
  text-decoration: none !important;
  color: $primary !important;
  font-size: 2em;
  font-weight: 650;
  font-family: $font;
  text-align: right;
&:hover {
  text-decoration: none !important;
  color: $gray !important;
        }
}

small {
  color: $white-smoke !important;
  font-size: .85em !important;
  font-weight: 775 !important;
}

/* Align nav-brand fonts */

.bg-primary{
  width: 852px;
  height: 100%;
  background-color: $white !important;
}

.logo {
  /* Top Right Bottom Left */
  max-width: 45px;
  max-height: 45px;
}
/* Used in javaScript.js file for logo manipulation */
.open-box {
  display: none;
}

.img-center {
  z-index: -1;
  position: relative;
  display: flex;
  margin: 0 auto;
}

.img-responsive{
  &:hover{
  border-color: transparent !important;
  }
}

.thumbnail {
  background-color: transparent !important;
  border-color: transparent !important;
  &:hover{
  border-color: transparent !important;
  }
}

.img-thumbnail{
  border-color: transparent !important;
  background-color: transparent !important;
  max-width: 25% !important;
  max-height: 25% !important;
}

.thumbnail img{
  max-width: 85%;
  max-height: 85%;
}

.caption{

  &:hover{
    color: transparent !important;
    text-decoration: none !important;
  }
}

.jumbotron {
  padding: 6px 8px 6px 8px !important;
  margin: 6px 6px 0px 0px !important;
  color: inherit;
  }

.wallpaper {
  background-color: transparent !important;
  background: transparent url('https://ytpmfg-dm2306.files.1drv.com/y3mee8lAwNuBotyl9Q5jgl-c5HzFzW8AHWjbbNsHFYo5VmF0Ds00r3MZaDlrTyMx1XT93xd6w0YG137LTpjS_TbUbicnjXxVIkOjXWBW-xbIEhNjlRsEe7fColbEBqnFDJhZ-8ERcGZdp9FP7Nc8mzvcvoGwESFTecivibGX314uKk?width=3840&height=2160&cropmode=none');
  padding: 5vh;

  background-size: cover;
  margin: 0 auto;
  height: 100%;
  border-style: none;
}

.col-sm-1, .col-sm-2, .col-sm-4,
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10 {
  font-family: $font;
  font-size: 1.5em;
  font-weight: 750;
  color: $primary;
  background-color: transparent !important;

  border-color: transparent !important;
}

.col-sm-3 { /* Thumbnail */
border-color: transparent !important;
}

.icon {
  float: left;
  background-color: inherit;
  width: 35px;
  height: 35px;
  object-fit: cover;
  &:hover {
    opacity: 0.75;
  }
}

/* New Home (we need to delete this eventually) */
p{
  font-size: 2em;
  color: $white-smoke;
  font-weight: 650;
  font-family: $font;
  text-align: center;
}


/* Edit rudy links by assigning them a class :class=> '' */;
.newHomeStyle{
  color: red;
  font-family: $byte;
}

hr{
  border-top: 2px solid $secondary !important;
}
