@import '_variables';

/* Style for each input line */
.form-control{
	border-radius: 0px !important;
  width: 100% !important;
}

.back-button {
    top: $navbar-height !important;
    left: $sidebar-width !important;
    padding: 25px;
    position: fixed !important;
}

.media-body {
    padding-top: 10px;

    > a:hover{
      text-decoration: none;
    }
}

.post-html {
    text-align: center;
}

.post-description {
    background-color: $white;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

.media .glyphicon {
  margin: 5px; 
  background: none;
  font-size: 2.5em !important;
  &:hover{
  	text-decoration: none;
    color: $sky !important;
  }
}

 /* On smaller screens, where height is less than 767px, recover the margin from the hidden sidebar) */
@media screen and (max-width: 767px) {
    /*hide sidebar on mobile devices*/
    #page-content-wrapper  {margin-left: -$tab-item-width/2;}

/*    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}*/
}

/* Main Section */
.survey-section {
  max-width: 100%;
  width: 35em;
  margin: 0 auto;
  margin-bottom: 2em;
}
/*Format fieldset*/
.survey-fieldset {
  color: red;
  font-family:monospace;
}

.rating {
    overflow: hidden;
    display: inline-block;
}

.survey-fieldset div {
  margin-bottom: 1rem;
  border-bottom-style:outset;
}

/* Container shadow */
.mat-shadow {
  box-shadow: 0px 4px 9px -2px rgba(0,0,0,1);
}

/* Sub Header formatting */
.sub-header {
  margin: 0;
  padding: .5em;
  color: white;
  background-color: #3498db;
}

/* Survey formatting */

.main-form fieldset {
  margin-bottom: 3em;
}

.main-form {
  background-color: $black !important;
  padding: 1.3em;
}

.main-form .main-input {
  /* Line break after each input */
  color: #B4DCEC;
  display: block;
  margin: 1.1em 0;
  width: 100%;
}

.main-form .input {
  /* Line break after each input */
  display: block;
  margin: 1em 0;
  width: 100%;
}

/* Input Label formatting */
.main-form label {
  font-size: 1.4em;
  display: block;
  width: 100%;
}

/* Title headings */
.title{
  font-family: fantasy;
  font-size: 1.4em;
  color:#7D2831;
}
.sub-title {
  font-size: .9em;
  color: #B4DCEC;
  margin:0;
}
.option{color:#B4DCEC;}

/* Profile Form Table */
.profile-table {
  color: white;
  width: 100%; 
}

.profile-table .input {
  width: 100%;
}

.profile-table td {
  background-color: $black;
  padding: 5px 10px 5px 10px;
  &:hover{
    background-color: $black !important;
  }
  /*padding: .75rem;*/
}

.preferance-input .main-input {
  display: inline-block;
  width: auto;
}

/* Progress bar */
.progress {
  width: 40em;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.container {
  color:  $black;
  padding: 1em;
}

/* Meter format */
.meter {
  width: 100%;
}

/* Button format */

.submit-btn {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: 1em;
  border-style: none;
  padding: .75em 1em;
  color: #white;
  background-color: #3498db;
}

.post-heading{
  margin-left: 1%;
  font-size: 36px;
}

/* Awesome fonts */
.fa{
  margin-right: 1%;
}
.btn-group{
  background-color: $gray;
  margin-bottom: 1em;
}

.btn-one{
  background-color: $gray;
}

 .btn-one:hover, .btn-one:focus, .btn-one:active, .btn-one.active, .open > .btn-one.dropdown-toggle {
  background-color: $sky !important;
}
