.login {
	padding-top: 20px;
}

.login-tab {
	color: white;
	font-size: 25px;
	font-weight: bold;
}

.login-tab:hover {
	color: white;
}

.field {
	font-size: 20px;
	margin-top: -10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.field > input {
    color: black;
}

.field-label {
	color: white;
}

.forgot > a {
    color: white !important;
}

.label {
	font-size: 18px;
}

.login-form {
	color: white;
}

.panel-login {
	position: relative;
  	align: center;
 	width: 400px;
}

.login-pass {
	color:white;
	font-size: 12px;
}

.actions {
	color: black;
	padding-bottom: 5px;
}

.login-container {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	width: 600px;
	margin: auto;
	background-color: #3498db;
}


